<!DOCTYPE html>
<html>

<head>
  <title>User Dashboard - HarmonyScout</title>
  <link rel="stylesheet" href="/public/css/userStyle.css" />
  <script src="/public/js/userScript.js" defer></script>
</head>

<body>
  <div id="userProfile" class="hidden"></div>
  <div id="userContent" class="hidden">
  </div>
  <div id="songsDisplayArea" class="hidden">
  </div>
  <h1>Welcome <%- username %></h1>
  <button class="playlist">Your Playlist</button>
  <!-- <button class="getRecommendation">Get Recommendation</button> -->
  <button class="exploreButton" onclick="explorePlaylist()">Explore</button>
  <button class="signout" onclick="signOut()">Sign out</button>
  <div id="recommendationsArea" class="hidden">

    <button id="backButton" class="hidden">Back to Playlists</button>
    <div id="trackListings">
    </div>
  </div>
  <div class="test">
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
    <dotlottie-player src="https://lottie.host/77869019-f206-4d20-8e3d-678597e6be7c/mMOSVZsaWf.json"
      background="transparent" speed="1" style="width: 300px; height: 300px" direction="1" mode="normal" loop controls
      autoplay></dotlottie-player>
  </div>
</body>

</html>